.project {
    box-sizing: border-box;
    float: left;
    height: 250px;
    padding: 10px;
    vertical-align: middle;
    width: 33.33%;

    .thumbnail {
        overflow: hidden;
        height: 200px;
        width: 100%;

        img {
            height: 210px;
            width: 210px;
        }

        a {
            float: left;
            height: 250px;
            position: relative;
            width: 100%;

            span {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.6);
                color: $grey-color-light;
                padding: 30px;
                text-align: center;

                h1 {
                    font-size: 1.2rem;
                    margin: 0;
                }

                p {
                    font-size: 0.8rem;
                    color: $grey-color-light;
                }
            }

            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}
