---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import 'variables';
@import 'media-queries';
@import 'basscss';

@import 'base';
@import 'clearfix';
@import 'positions';

@import 'header';
@import 'footer';
@import 'pages';
@import 'posts';

@import 'projects';
@import 'profile';
@import 'pagination';
@import 'publications';

@import 'blockquotes';
@import 'code';
@import 'gallery';
@import 'gists';
@import 'links';
@import 'measure';

@import 'social-icons';
@import 'tables';
@import 'typography';

// Define variables for reusability
$yellow: rgba(250, 255, 110, 0.467);

// Define the .yellow-box class
.yellow-box {
    background-color: $yellow; // Set the background color to yellow
    padding: 10px; // Add padding to the box
    margin-bottom: 20px; // Add some space at the bottom
    // Add any additional styling as needed
}
