---
---


<div id="{{entry.key}}"  class="col three {% if entry.selected %}yellow-box{% endif %}">
  <div style="clear: both;">
    <div style="">
        <img class="col bibone first" src="{{ site.data.teasers[entry.abbr].img| prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    </div>
  </div>
  <div class="col bibtwo last">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title">{{entry.title}}</span>
      <span class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name or author.last == site.scholar.last_name_equal %}
              <em><b>{{author.first}} {{author.last}}</b></em>
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name or author.last == site.scholar.last_name_equal %}
                <em><b>{{author.first}} {{author.last}}</b></em>,
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name or author.last == site.scholar.last_name_equal %}
                and <em><b>{{author.first}} {{author.last}}</b></em>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>

      <span class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>{{entry.booktitle}}</em>
      {% elsif entry.type == "workshop" %}
        <em>{{entry.booktitle}}</em>
        <br>
        <em>{{entry.maintitle}}</em>
      {% elsif entry.type == "preprint" %}
        <em> (Under Review) </em>
      {% endif %}
      {% if entry.type != "preprint" %}
        {% if entry.year %}
          {{entry.year}}
        {% endif %}
      {% endif %}
      {% if entry.award %}
        | <font color="#EF273E">{{ entry.award }}</font>
      {% endif %}
      </span>
    {% endif %}

    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract">Abs</a>]
    {% endif %}
    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% else%}
      [arXiv (available soon)]
    {% endif %}
    {% if entry.video %}
      [<a href="{{ entry.video }}" target="_blank">Video</a>]
    {% endif %}
    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">Website</a>]
    {% endif %}
    {% if entry.pdf %}
      [<a href="{{ entry.pdf | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">Code</a>]
    {% endif %}
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}
  </div>
</div>
